/*Auth extra styles*/

.google-btn {
  position: relative;
}

.google-icon {
  width: 1.2em;
  position: absolute;
  left: 3%;
  top: 30%;
}

.form-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #EF476F;
}

.form-control.error {
  border-color: #EF476F;
}
